---
# Copyright 2026 Wong Hoi Sing Edison <hswong3i@pantarei-design.com>
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

- name: converge | all
  hosts: all
  remote_user: root
  become: true
  tasks:
    - name: include default variables
      ansible.builtin.include_vars: ./vars/main.yml

    - name: include release specific variables
      ansible.builtin.include_vars: "{{ loop_var }}"
      loop: "{{ query('first_found', params) }}"
      loop_control:
        loop_var: loop_var
      vars:
        params:
          files:
            - "{{ ansible_facts['distribution'] | lower }}-{{ ansible_facts['distribution_version'] | lower }}.yml"
            - "{{ ansible_facts['distribution'] | lower }}-{{ ansible_facts['distribution_major_version'] | lower }}.yml"
            - "{{ ansible_facts['distribution'] | lower }}.yml"
            - "{{ ansible_facts['os_family'] | lower }}-{{ ansible_facts['distribution_version'] | lower }}.yml"
            - "{{ ansible_facts['os_family'] | lower }}-{{ ansible_facts['distribution_major_version'] | lower }}.yml"
            - "{{ ansible_facts['os_family'] | lower }}.yml"
          paths:
            - ./vars
          skip: true

    - name: include release specific tasks
      ansible.builtin.include_tasks: "{{ loop_var }}"
      loop: "{{ query('first_found', params) }}"
      loop_control:
        loop_var: loop_var
      vars:
        params:
          files:
            - "{{ ansible_facts['distribution'] | lower }}-{{ ansible_facts['distribution_version'] | lower }}.yml"
            - "{{ ansible_facts['distribution'] | lower }}-{{ ansible_facts['distribution_major_version'] | lower }}.yml"
            - "{{ ansible_facts['distribution'] | lower }}.yml"
            - "{{ ansible_facts['os_family'] | lower }}-{{ ansible_facts['distribution_version'] | lower }}.yml"
            - "{{ ansible_facts['os_family'] | lower }}-{{ ansible_facts['distribution_major_version'] | lower }}.yml"
            - "{{ ansible_facts['os_family'] | lower }}.yml"
          paths:
            - ./tasks
          skip: true

    - name: include default tasks
      ansible.builtin.include_tasks: ./tasks/main.yml

    - name: include role
      ansible.builtin.include_role:
        name: python

    - name: include role
      ansible.builtin.include_role:
        name: ansible

    - name: include role
      ansible.builtin.include_role:
        name: locales

    - name: include role
      ansible.builtin.include_role:
        name: timezone

    - name: include role
      ansible.builtin.include_role:
        name: catatonit

    - name: include role
      ansible.builtin.include_role:
        name: gosu

    - name: include role
      ansible.builtin.include_role:
        name: cvs

    - name: include role
      ansible.builtin.include_role:
        name: svn

    - name: include role
      ansible.builtin.include_role:
        name: git

    - name: include role
      ansible.builtin.include_role:
        name: mercurial

    - name: include role
      ansible.builtin.include_role:
        name: perforce

    - name: include role
      ansible.builtin.include_role:
        name: crun

    - name: include role
      ansible.builtin.include_role:
        name: containers_common

    - name: include role
      ansible.builtin.include_role:
        name: containernetworking_plugins

    - name: include role
      ansible.builtin.include_role:
        name: conmon

    - name: include role
      ansible.builtin.include_role:
        name: skopeo

    - name: include role
      ansible.builtin.include_role:
        name: buildah

    - name: include role
      ansible.builtin.include_role:
        name: podman

    - name: include role
      ansible.builtin.include_role:
        name: openjdk

    - name: include role
      ansible.builtin.include_role:
        name: bamboo

    - name: symlink files
      ansible.builtin.shell:
        cmd: |
          set -euxo pipefail
          cd /opt/atlassian/bamboo/lib
          rm -rf *postgresql*.jar
          cp -rfp $(readlink -f /usr/share/java/postgresql.jar) .
          rm -rf *mysql-connector*.jar
          cp -rfp $(readlink -f /usr/share/java/mysql-connector-java.jar) .
          chown -Rf bamboo:bamboo *.jar
          chmod 0644 *.jar
      args:
        executable: /bin/bash
      changed_when: false
      failed_when: false
